*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: serif;
  font-size: 21px;
  line-height: 1.5;

  background-color: #202124;
  color: #808080;
}
main {
  opacity: 7;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
}
a {
  color: #1e90ff;
  font-size: inherit;
  text-decoration: none;
  transition: ease all 500ms;
}
a:hover {
  color: #1e8fff9a;
}
