.section-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  width: 100vw;
}
img.profile {
  border-radius: 5px;
  margin: 11px;
  transition: ease all 1s;
}
.colorful {
  transition: ease all 1s;
  background: -webkit-linear-gradient(-70deg, #fff, var(--my-yellow));
  -webkit-text-fill-color: transparent;
  background-clip: border-box;
  -webkit-background-clip: text;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
header h1 {
  font-size: 5rem;
}
header h2 {
  font-size: 3rem;
}
.current-status {
  margin: 1rem auto;
  padding: 0.3rem;
  max-height: 6.6rem;
  border-radius: 3px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 90vw;
  transition: ease all 1s;
}
.current-status:hover {
  background-color: var(--bg-secondary);
}
.current-status::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 3px;
  display: none;
}
.current-status strike,
.current-status strike * {
  color: #b0914f90;
}
.social-div {
  margin: 3rem auto;
  margin-bottom: 0;
  padding: 0.1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 11px 11px 0 0;
  width: 95%;
}
.social-link {
  margin: 0.3rem;
  font-size: 1rem;
  color: var(--text-secondary);
}
p mark {
  background-color: rgb(176, 145, 79, 0.1);
  color: inherit;
}
p {
  margin: 0.7rem 3px;
}
p,
a {
  color: var(--my-yellow);
  font-size: 1.5rem;
}
a {
  text-decoration: underline;
}
a:hover {
  color: var(--text-primary);
}
a:active {
  color: var(--text-secondary);
}
.btn-resume {
  color: var(--text-secondary);
  border: none;
  background-color: transparent;
  text-decoration: underline;
  font-size: 1rem;
  font-family: var(--my-fonts);
}
.btn-resume:hover {
  color: var(--text-primary);
  cursor: pointer;
}
.page-status {
  align-self: flex-end;
  color: var(--text-secondary);
  margin: 1.5rem;
  text-align: center;
}
.page-status a {
  color: var(--text-secondary);
}
.page-status a:hover {
  color: var(--text-primary);
}
.page-status a:active {
  color: var(--my-yellow);
}

@media only screen and (max-width: 600px) {
  .current-status {
    max-height: 7.5rem;
    width: 95vw;
  }
}
