@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --black: #000;
  --white: #fff;

  --text-secondary: grey;
  --text-primary: #e8eaed;

  --bg-primary: #202124;
  --bg-secondary: #292a2d;

  --my-yellow: #b0914f;

  --my-fonts: 'Merriweather', serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 17px;
  font-family: var(--my-fonts);
  line-height: 1.5;
  /* background-image: url("./images/piano.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

/* scrollbar */
:root {
  --scroll-track: rgba(32, 33, 36);
  --scroll-default: rgba(116, 116, 116, 0.7); /* #747474 */
  --scroll-hover: rgba(154, 154, 154, 0.7); /* #9a9a9a */
  --scroll-active: rgba(192, 192, 192, 0.7); /* #c0c0c0 */
}
*::-webkit-scrollbar {
  overflow: visible;
}
*::-webkit-scrollbar-track {
  background-clip: content-box;
  background: var(--scroll-track);
}
*::-webkit-scrollbar-thumb {
  background: var(--scroll-default);
}
*::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-hover);
}
*::-webkit-scrollbar-thumb:active {
  background: var(--scroll-active);
}
.section-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  width: 100vw;
}
img.profile {
  border-radius: 5px;
  margin: 11px;
  transition: ease all 1s;
}
.h1-colorful {
  transition: ease all 1s;
  background: -webkit-linear-gradient(-70deg, #fff, var(--my-yellow));
  -webkit-text-fill-color: transparent;
  background-clip: border-box;
  -webkit-background-clip: text;
  font-size: 5rem;
  margin: 1rem;
}
.current-status {
  margin: 3rem auto ;
  padding: .3rem;
  max-height: 6.6rem;
  border-radius: 3px;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 90vw;
  transition: ease all 1s;
}
.current-status:hover {
  background-color: var(--bg-secondary);
}
.current-status::-webkit-scrollbar {
  width: .5rem;
  border-radius: 3px;
  float: right;
}
.current-status strike, .current-status strike * {
  color: #b0914f90;
}
.social-div {
  margin: 3rem auto;
  margin-bottom: 0;
  padding: .1rem;
  border-radius: 11px 11px 0 0;
  width: 95%;
}
.social-link {
  margin: .3rem;
  font-size: 1rem;
  color: var(--text-secondary);
}
p {
  margin: .50rem auto;
}
p,
a {
  color: var(--my-yellow);
  font-size: 1.5rem;
}
a {
  text-decoration: underline;
}
a:hover {
  color: var(--text-primary);
}
a:active {
  color: var(--text-secondary);
}
.btn-resume {
  color: var(--text-secondary);
  border: none;
  background-color: transparent;
  text-decoration: underline;
  font-size: 1rem;
  font-family: var(--my-fonts);
}
.btn-resume:hover {
  color: var(--text-primary);
  cursor: pointer;
}
.page-status {
  align-self: flex-end;
  color: var(--text-secondary);
  margin: 1.5rem;
  text-align: center;
}
.page-status a {
  color: var(--text-secondary);
}
.page-status a:hover {
  color: var(--text-primary);
}
.page-status a:active {
  color: var(--my-yellow);
}