h2 {
  color: var(--text-secondary);
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(232, 234, 237, .5);
  transition: ease all 1s;
}
.grid {
  display: grid;
  place-items: end;
}
.modal-content {
  margin-left: auto;
  margin-right: auto;
  width: 75vw;
  height: 375px;
  background-color: var(--bg-secondary);
}
.modal-header{
  padding: 11px;
  background-color: var(--bg-primary);
  display: flex;
  overflow: auto;
}
.modal-title {
  width: 90%;
  text-align: center;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
.modal-close {
  min-width: 50px;
  width: 10%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease all .5s;
  color: var(--text-secondary);
  background-color: var(--bg-secondary);
  font-size: 1.5rem;
  font-size: 3rem;
}
.modal-close:hover {
  cursor: pointer;
  color: #fff;
}
.btn {
  padding: 3px 11px;
  margin: 0 3px;
  text-transform: lowercase;
  background-color: transparent;
  border: none;
  color: var(--text-secondary);
  font-size: 2rem;
}
.btn:hover {
  cursor: pointer;
}
.download {
  margin: auto 3rem;
  padding: 7px 11px;
  border-radius: 3px;
  background-color: var(--bg-secondary);
  transition: ease all 1s;
}
.download:hover {
  color: var(--text-primary);
}
.download:active {
  color: #37956D;
}